/* badge */
.cart-badge {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;

  position: absolute;
  background-color: #fff;
  width: 66px;
  height: 66px;
  top: 20px;
  right: 20px;
  background-image: url("../assets/bag.svg");
  background-repeat: no-repeat;
  border-radius: 30px;
  background-position-x: center;
  background-position-y: 14px;
  z-index: 2;
  background-size: 30px 30px;
}

/* Quick cart view */
.quick-cart-container {
  background-color: rgb(240, 236, 236);
  width: 500px;
  height: 300px;
  position: absolute;
  top: 60px;
  right: 40px;
  border-radius: 50px;
}

#quick-cart-title {
  padding: 0 25px;
}
