.find-album-input{
    padding: 17px;
    padding-left: 55px;
    width: 300px;
    border: 1px solid #f5f5f5;
    font-size: 13px;
    color: gray;
    background-image: url('https://www.flaticon.com/authors/arkinasi');
    background-repeat: no-repeat;
    background-position: left center;
    outline: 0;
}