    input{
        border-radius: 10px;
        padding: 10px;
        width: 90%;
        margin: .2rem;
        box-shadow: 1px 1px 1px black;
        border: none;
    }

    .form-container {
        width: 500px;
        text-align: center;
    }

    
@media(max-width: 1000px){
    .input-container{
        width: 100%
    }
    input{
        width: 90%;
    }


    .form-container {
        width: 375px;
        text-align: center;
    }

  }
  