.sweatpants-container {
  background-color: lightgrey;
  width: 50%;
  height: 100%;
}

.sweatpants-images {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sweatpants-images img {
  margin: 40px;
}
