/* container of sweatpants images */
.sweatpants-container {
  background-color: rgb(233, 232, 232);
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/* images */
.sweatpants_frontview,
.sweatpants_backview {
  margin: 40px;
}

