.root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media(max-width: 800px){
.root{
  flex-direction: column;
  height: 100%;
}

.flex-order{
  display: flex;
  order: -1;
}
  
}