/* container */
.order-details-container {
  width: 420px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.order-container{
 height: 200px;
 overflow: auto;
}


/* price */
.order-details-price {
  display: flex;
  justify-content: space-between;
  width: 400px;

  height: 10px;
  padding: 10px 20px 10px;
}

.order-details-price:nth-child(odd) {
  background-color: rgb(207, 207, 207);
  border-radius: 10px;
}

.order-details-price h4,
.order-details-price h5 {
  font-weight: normal;
}
.order-details-price #grand-total {
  font-weight: bold;
}


@media(max-width: 1000px){
  .order-details-total-container{
    width: 100%;
   
  }
  .order-details-container{
    width: 100%;
    margin-bottom: 2rem;
  }
  .order-details-price{
    display: flex;
    justify-content: space-between;
    width: 85%;
  
    height: 10px;
    /* padding: 10px 20px 10px; */
  }
}
